html, body {
    padding: 0;
    margin: 0;
    max-height: 100vh;
    height: 100vh;

}
*  {
    outline:none;
    box-sizing: border-box;
}

#root {
    width: 1550px;
    height: 850px;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    overflow: hidden;
    border: 1px solid black
}


#htmlCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.background {
    background: white;
    background: url("../img/background.png") no-repeat  bottom;
    background-size: 100% 100%!important;
}
#htmlCanvas .brick {
    background: url("../img/blocks/brick.png") no-repeat  bottom;
    background-size: cover;
    position: absolute;
    z-index:1;
}
#htmlCanvas .brick.center {
    background: url("../img/blocks/brick-center.png") no-repeat  bottom;
    background-size: cover;
    position: absolute;
}
#htmlCanvas .brick.lava-brick.right {
    background: url("../img/blocks/lava-right.png") no-repeat  bottom;
    background-size: cover;
}
#htmlCanvas .brick.lava-brick.left {
    background: url("../img/blocks/lava-right.png") no-repeat  bottom;
    background-size: cover;
    transform: scaleX(-1);
}
#htmlCanvas .brick.lava {
    background: url("../img/blocks/lava.png") no-repeat  bottom;
    background-size: cover;
    animation: lava infinite;
    animation-duration: 3s;
    z-index: 98;
}
@keyframes lava {
    10% {
        background-size: 100% 95%;
    }
    20% {
        background-size: 100% 96%;
    }
    30% {
        background-size: 100% 97%;
    }
    40% {
        background-size: 100% 98%;
    }
    50% {
        background-size: 100% 99%;
    }
    60% {
        background-size: 100% 100%;
    }
    70% {
        background-size: 100% 99%;
    }
    80% {
        background-size: 100% 98%;
    }
    90% {
        background-size: 100% 97%;
    }
    100% {
        background-size: 100% 96%;
    }
}

#htmlCanvas .booster {
    position: absolute;
    animation: booster infinite;
    animation-duration: 4s;
    z-index: 10;
}

@keyframes booster {
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    75% {
        transform: translateY(5px);
    }
    99% {
        transform: translateY(-5px);
    }
}


.booster.oxygen {
    background: url("../img/oxygen-booster.png") no-repeat center;
}
.booster.life {
    background: url("../img/heart.png") no-repeat center;
}
.booster.bullet-boost {
    background: url("../img/bullet-booster.png") no-repeat center;
}
#htmlCanvas .bullet {
    position: absolute;
    background: url("../img/bullet.png") no-repeat center;
}

.player {
    position: absolute;
    background: url("../img/player.png") no-repeat center;
}

.facing-left {
    transform: scaleX(-1);
}



#oxygen {
    height: 30px;
    width: 300px;
    border: 1px solid black;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 2;
}

#oxygen .fill-bar {
    transition: width 0.5s;
    background: cornflowerblue;
    height: 100%;
}

#livesWrap {
    position: absolute;
    top: 90px;
    right: 40px;
    z-index: 3;
}

#livesWrap img {
    width: 50px;
    height: 50px;
}

.spider {
    position: absolute;
    background: url("../img/spider.png") no-repeat center;
}
.spider.at-1 {
    background: url("../img/arana/attacking-1.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.at-2 {
    background: url("../img/arana/attacking-2.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.at-3 {
    background: url("../img/arana/attacking-3.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.at-4 {
    background: url("../img/arana/attacking-4.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.at-5 {
    background: url("../img/arana/attacking-5.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.at-6 {
    background: url("../img/arana/attacking-6.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.wl-1 {
    background: url("../img/arana/walking-1.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.wl-2 {
    background: url("../img/arana/walking-2.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.wl-3 {
    background: url("../img/arana/walking-3.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.wl-4 {
    background: url("../img/arana/walking-4.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.wl-5 {
    background: url("../img/arana/walking-5.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.wl-6 {
    background: url("../img/arana/walking-6.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.wl-7 {
    background: url("../img/arana/walking-7.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.wl-8 {
    background: url("../img/arana/walking-8.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.wt-1 {
    background: url("../img/arana/waiting-1.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.wt-2 {
    background: url("../img/arana/waiting-2.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.wt-3 {
    background: url("../img/arana/waiting-3.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.wt-4 {
    background: url("../img/arana/waiting-4.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.wt-5 {
    background: url("../img/arana/waiting-5.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.di-1 {
    background: url("../img/arana/death-1.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.di-2 {
    background: url("../img/arana/death-2.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.di-3 {
    background: url("../img/arana/death-3.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.di-4 {
    background: url("../img/arana/death-4.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.di-5 {
    background: url("../img/arana/death-5.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.di-6 {
    background: url("../img/arana/death-6.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.di-7 {
    background: url("../img/arana/death-7.png") no-repeat center!important;
    background-size: contain!important;
}
.spider.facing-left {
    transform: scaleX(-1);
}
.spider.facing-right {
    transform: scaleX(1);
}
.brick.spider-web-1 {
    background: url("../img/telaranas/telarana-1.png") no-repeat center!important;
    background-size: contain!important;
    opacity: 0.6;
    z-index:0;
}
.brick.spider-web-2 {
    background: url("../img/telaranas/telarana-2.png") no-repeat center!important;
    background-size: contain!important;
    opacity: 0.4;
    z-index:0;
}
.brick.spider-web-3 {
    background: url("../img/telaranas/telarana-3.png") no-repeat center!important;
    background-size: contain!important;
    opacity: 0.5;
    margin-left:-10px;
    z-index: 0!important;
}
.brick.spider-web-4 {
    background: url("../img/telaranas/telarana-4.png") no-repeat center!important;
    background-size: contain!important;
    opacity: 0.5;
    z-index:0;
}

.l1 {
    width:50px;
    height:50px;
}
.l2 {
    height:100px!important;
    width: 100px!important;
}
.l3 {
    width: 150px!important;
    height:150px!important;
}
.l4 {
    height:200px!important;
    width: 200px!important;
}

.brick.lava-brick.right-left {
    background: url("../img/blocks/lava-right-left.png") no-repeat center!important;
    background-size: contain!important;
}