html, body {
    padding: 0;
    margin: 0;
    max-height: 100vh;
    height: 100vh;

}
*  {
    outline:none;
}

#root {
    width: 1550px;
    height: 850px;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    overflow: hidden;
    border: 1px solid black
}

#root canvas {
    width: 100%;
    height: 100%;
}

#htmlCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.background {
    background: url("../img/background.png")  bottom no-repeat;
    background-size: contain;
}
#htmlCanvas .brick {
    background: url("../img/blocks/brick.png") no-repeat  bottom;
    background-size: cover;
    position: absolute;
}
#htmlCanvas .brick.center {
    background: url("../img/blocks/brick-center.png") no-repeat  bottom;
    background-size: cover;
    position: absolute;
}
#htmlCanvas .brick.lava-brick.right {
    background: url("../img/blocks/lava-right.png") no-repeat  bottom;
    background-size: cover;
}
#htmlCanvas .brick.lava-brick.left {
    background: url("../img/blocks/lava-right.png") no-repeat  bottom;
    background-size: cover;
    transform: scaleX(-1);
}
#htmlCanvas .brick.lava {
    background: url("../img/blocks/lava.png") no-repeat  bottom;
    background-size: cover;
    animation: lava infinite;
    animation-duration: 3s;
    z-index: 98;
}
@keyframes lava {
    10% {
        background-size: 100% 95%;
    }
    20% {
        background-size: 100% 96%;
    }
    30% {
        background-size: 100% 97%;
    }
    40% {
        background-size: 100% 98%;
    }
    50% {
        background-size: 100% 99%;
    }
    60% {
        background-size: 100% 100%;
    }
    70% {
        background-size: 100% 99%;
    }
    80% {
        background-size: 100% 98%;
    }
    90% {
        background-size: 100% 97%;
    }
    100% {
        background-size: 100% 96%;
    }
}

#htmlCanvas .booster {
    position: absolute;
    animation: booster infinite;
    animation-duration: 4s;
}

@keyframes booster {
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    75% {
        transform: translateY(5px);
    }
    99% {
        transform: translateY(-5px);
    }
}


.booster.oxygen {
    background: url("../img/oxygen-booster.png") no-repeat center;
}
.booster.life {
    background: url("../img/heart.png") no-repeat center;
}
#htmlCanvas .bullet {
    position: absolute;
    background: url("../img/bullet.png") no-repeat center;
}

.player {
    position: absolute;
    background: url("../img/player.png") no-repeat center;
}

.facing-left {
    transform: scaleX(-1);
}

#launchers {
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: 99;
}

section button {
    border:1px solid white;
    background: transparent;
    font-size:34px;
    margin-top:50px;
    padding:15px 30px;
    color:white;
    cursor: pointer;
}
#launchers section {
    height: 100%;
    width:100%;
    color:white;
    background: black;
    font-size: 80px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#oxygen {
    height: 30px;
    width: 300px;
    border: 1px solid black;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 2;
}

#oxygen .fill-bar {
    transition: width 0.5s;
    background: cornflowerblue;
    height: 100%;
}

#livesWrap {
    position: absolute;
    top: 90px;
    right: 40px;
    z-index: 3;
}

#livesWrap img {
    width: 50px;
    height: 50px;
}

.spider {
    position: absolute;
    background: url("../img/spider.png") no-repeat center;
}
.spider.facing-left {
    transform: scaleX(1);
}
.spider.facing-right {
    transform: scaleX(-1);
}